{% block content %}
  <form method="post">

      {% csrf_token %}
      <t>Chat</t>
            {% for msg in allmessages %}
                <p>
                   {{ msg.sender }} : {{ msg.message_text}}
                </p>
            {% endfor %}
        <input type="text" name="message">
        <input type="hidden" name="nameuser" value="{{ nameuser }}">
    <button type="submit" name="action" value="send">Send</button>
    <button type="Submit" name="action" value="back"/>back</button>
      <button type="Submit" name="action" value="leave"/>LogOut</button>
  </form>
{% endblock %}